version: '3.8'

services:
  # Database for Bidding Service (Go)
  bidding-db:
    image: postgres:15-alpine
    container_name: bidding-db
    ports:
      - "5432:5432"
    environment:
      POSTGRES_USER: user
      POSTGRES_PASSWORD: password
      POSTGRES_DB: bidding_db
    volumes:
      - ./infra/postgres:/var/lib/postgresql/data

  # Database for Inventory Service (Node)
  inventory-db:
    image: mongo:latest
    container_name: inventory-db
    ports:
      - "27018:27017"
    volumes:
      - ./infra/mongodb:/data/db

  # Message Broker for Async Communication
  rabbitmq:
    image: rabbitmq:3-management-alpine
    container_name: auction-broker
    ports:
      - "5672:5672"   # RabbitMQ port
      - "15672:15672" # Management UI port
    environment:
      RABBITMQ_DEFAULT_USER: guest
      RABBITMQ_DEFAULT_PASS: guest

networks:
  auction-network:
    driver: bridge